@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800');

html, * {
  font-family: 'Poppins', 'Avenir', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // user-select: none;
  box-sizing: border-box;
  transition: .3s all ease-in-out;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;

  &.invert {
    filter: invert(1);
  }
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.019rem;
  line-height: normal;
  margin-bottom: 1.125rem;
}

h2 {
  font-size: 2rem;
  line-height: 120%;
  margin: 2.8rem 0 1.68rem 0;
}

p {
  color: $dark;

  &.flow-text {
    font-size: 1.68rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  &.divider {
    border: none;
    background: $grey;
    height: 1px;
    width: 100%;
    margin: 1.5rem 0;
  }
}

button {
  padding: 0;
  width: 100%;
  height: 2.5rem;
  border: none;
  color: $light;
  border-radius: 0.25rem;
  font-size: 1rem;
  background: $primary;
  cursor: pointer;
  white-space: nowrap;

  img {
    margin-right: 0.5rem;
  }

  &:focus {
    outline: none;
  }

  &.inverse {
    background: $light;
    color: $primary;
    border: 1.5px solid $border-grey-rgba;
  }

  &.no-shadow {
    box-shadow: none;
  }

  &.center-btn {
    display: block;
    margin: 1rem auto;
  }

  &.small {
    border-radius: 1rem;
    padding: .5rem 1rem;
    margin-right: 1rem;
  }
}

button[type="submit"]:disabled,
button[type="submit"]:disabled:hover,
button[type="submit"]:disabled:active,
button[type="submit"]:disabled:focus {
  background: lightgrey;
  color: darkgrey;
}

input {
  &:focus {
    outline: none;
  }

  &:disabled {
    color: grey;
  }
}

form {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    .form-field {
      display: block;
      margin-bottom: 1rem;
      &.wide {
        grid-column: 1 / -1;
        padding: 0;
      }
      &.inline {
        input {
          width: inherit;
          display: inline-block;
        }
        .field {
          margin-bottom: 0.5rem;
          border-bottom: 1px solid $light-grey;
          padding-bottom: 0.5rem;
          input {
            margin: 3px 1px;
          }
        }
        .add {
          position: relative;
          img {
            width: 2rem;
            position: absolute;
            top: -15%;
            left: 1rem;
            cursor: pointer;
          }
        }
      }

      label, input {
        display: block;
      }
      label {
        color: $dark-gray;
      }
      input {
        padding: 10px;
        margin-top: 0.5rem;
        background: $grey;
        border: none;
        width: 100%;
      }
    }
  }

  input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="submit"]:disabled,
  input[type="submit"]:disabled:hover,
  input[type="submit"]:disabled:active,
  input[type="submit"]:disabled:focus {
    background: lightgrey;
    color: darkgrey;
  }
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: $primary;
  height: 2.5rem;
}

.table {
  .panel-head, .tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .panel-body {
    padding: 2px;
    border-right: 1px solid $ash-grey;
    border-left: 1px solid $ash-grey;
    border-bottom: 1px solid $ash-grey;
    .tr {
      &:nth-child(odd) {
        background: #f6f6f6;
      }
      .cell {
        padding: 0.75rem 1rem;
        &:not(:last-child) {
          border-right: 1px solid $grey;
        }
      }
    }
  }
}


// Start of Helpers
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.center-align {
  text-align: center !important;
}

.underlined {
  text-decoration: underline !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.capitalize {
  text-transform: capitalize;
}


.invisible {
  visibility: hidden;
}
.hide {
  display: none !important;
}


.black-text {
  color: black;
}
.dark-text {
  color: $dark;
}
.white-text {
  color: white;
}
.grey-text {
  color: $grey-text;
}
.dark-grey-text {
  color: $dark-grey-text;
}
.primary-text {
  color: $primary;
}
.blue-text {
  color: $blue;
}
.red-text {
  color: $red;
}
.white-bg {
  background: $light;
}

.sub-panel-title {
  font-size: 1rem;
  font-weight: 400;
}

.error {
  background: red;
}
.sucess {
  background: green;
}
.info {
  background: green;
}

.pointer {
  cursor: pointer;
}
// End of helpers

// Start of Flex css helpers
.flex {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
  &.equal {
    .half {
      flex: 1 0 0;
    }
  }
}

.dir-row {
  flex-direction: row;

  @include for-phone-only {
    &:not(.list){
      flex-direction: column;
    }
  }

}

.dir-column {
  flex-direction: column;
}

.f-order-1 { order: 1 }
.f-order-2 { order: 2 }
.f-order-3 { order: 3 }
.f-order-4 { order: 4 }
.f-order-5 { order: 5 }
// End of Flex css helpers

// Start of Grid css helpers
.grid {
  display: grid;
  grid-gap: 1rem;

  &.two, &.equal-two {
    grid-template-columns: 1fr 1fr;

    @include breakpoint($max: 900px) {
      grid-template-columns: 1fr;
    }
  }
  &.three {
    grid-template-columns: 1fr 1fr;
  }
  &.two-three {
    grid-template-columns: 2fr 3fr;
  }
  &.three-two {
    grid-template-columns: 3fr 2fr;
  }

  .wide {
    grid-column: 1 / -1;
  }

  .span-col-2 {
    grid-column: span 2;

    @include breakpoint($max: 500px) {
      grid-column: span 1;
    }
  }
}
// End of Grid css helpers

// Start of Media Queries css helpers
.hide-on-med-and-down {
  @include breakpoint ($max: 992px) {
    display: none;
  }
}

.hide-on-small {
  @include breakpoint ($max: 767px) {
    display: none;
  }
}
.hide-on-mobile {
  @include breakpoint ($max: 700px) {
    display: none;
  }
}
.only-mobile {
  @include breakpoint($min:700px) {
    display: none !important;
  }
}
// End of Media Queries css helpers


// Start of Global Stylings
.page {
  overflow-y: auto;
}

.container {
  width: 70%;
  min-width: 80%;
  margin: 0 auto;
  max-width: 1280px;

  @include breakpoint($max: 767px) {
    min-width: 90%
  }

  @include for-phone-only {
    min-width: 90%;
  }
}

.search {
  width: 16.563rem;
  height: 2.5rem;
  border-radius: 4px;
  font-size: 0.875rem;
  border: solid 1px $border-grey;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35rem 0.5rem;

  input {
    width: 100%;
    font-size: 0.875rem;
    // padding: 0.25rem 0.5rem 0.1rem;
    padding: 0 0.5rem 0 0.1rem;
    border: none;
    border-radius: 4px;
    background: none;
    color: $dark-grey-text;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }

  img {
    height: 1rem;
    cursor: pointer;
  }
}

.dropdown {
  position: relative;
  .trigger {
    z-index: 1;
    background: white;
    padding: 4px 1px;
    border: 1px solid $grey;
  }
  .drop-list {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    span {
      display: block;
      padding: 4px;
      text-align: left;
      cursor: pointer;
      z-index: 4;
      &:hover {
        background: $light-grey;
        background: $primary;
        color: white;
        border-radius: 4px;
      }
    }
  }
  &:hover {
    .drop-list {
      display: block;
      z-index: 5;
      padding: 2px;
    }
  }
}

.options-dropdown {
  border: $grey;
  color: $dark-gray;
  border-radius: 4px;
  display: block;
  position: relative;
  background: white;
  margin: 0 .5rem;
  width: 90%;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: center;

  .trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: $grey 1px solid;
    border-right: $grey 1px solid;
    border-left: $grey 1px solid;
    border-bottom: 1px solid $grey;
    padding: 5px;
    img {
      height: 0.8rem;
      margin-left: 1rem;
    }
  }

  .choices {
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: $grey 1px solid;
    border-left: $grey 1px solid;
    border-bottom: $grey 1px solid;
    .choice {
      text-align: center;
      display: block;
      border-top: 1px solid $grey;
      padding: 4px 1px;
    }
  }

  &:hover {
    .trigger {
      border-bottom: 0px solid $grey;
    }
    .choices {
      display: block;
    }
  }
}

// End of Global Stylings
.force-select {
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
  -ms-user-select: all;      /* No support yet */
  user-select: all;          /* Likely future */
}
