.data-table {
  min-width: 900px;

  &.full-width {
    min-width: 100%;
  }

  .top-controls {
    display: flex;
    justify-content: space-between;
    margin-right: 1.5rem;
    user-select: none;

    @include for-desktop-up {
      margin-right: 0;
    }

    .group {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;

      &.inverse {
        justify-content: flex-end;
      }

      &.inverse-space {
        justify-content: space-between;
      }

      &.spacing {
        width: 30%;
      }

      .refresh-wrapper {
        width: 2.65rem;
        height: 2.65rem;
        background: $light;
        border: 1px solid $border-grey;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .refresh-btn {
          width: 1.5rem;
        }
      }

      .sort-dropdown {
        padding: 0.5rem 1rem 0.5rem 1rem;

        span.drop-text {
          margin-right: 6rem;
        }

        .drop-icon {
          left: 10%;

          &.drop-icon-left {
            margin-right: .9375rem;
            width: 1rem;
          }

          &.drop-icon-left + span.drop-text {
            margin-right: .4rem;
          }
        }

        &.dropdown-primary {
          img.drop-icon {
            filter: invert(94%) sepia(72%) saturate(3289%) hue-rotate(131deg) brightness(85%) contrast(86%);
            -webkit-filter: invert(94%) sepia(72%) saturate(3289%) hue-rotate(131deg) brightness(85%) contrast(86%);
          }

          span.drop-text {
            color: $primary
          }
        }
      }

      .mr {
        margin-right: 1.5rem;
      }
    }

    .pay-selected-btn {
      // width: 12.438rem;
      width: fit-content;
      height: 2.5rem;
      padding: 0 1rem;
      font-size: 0.875rem;
      letter-spacing: 0.18px;

      &:disabled {
        background: $bg-grey-disabled;
        color: $dark-gray;
      }
    }

    .info-icon {
      margin-left: 1rem;
      cursor: pointer;
    }

    .action-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      max-width: fit-content;
      padding: 0 1rem;

      .icon-action {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 19px;
        height: 19px;
        margin-right: .5rem;
        filter: invert(65%) sepia(98%) saturate(338%) hue-rotate(130deg) brightness(118%) contrast(98%);
        -webkit-filter: invert(65%) sepia(98%) saturate(338%) hue-rotate(130deg) brightness(118%) contrast(98%);
      }
    }
  }

  .no-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    width: 100%;
    grid-column: 1 / -1;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $grey;
    height: 3rem;
    width: 100%;
    grid-column: 1 / -1;

    .pagination {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      .numbering {
        color: $dark-grey-text;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;

        .currentPage {
          border-radius: .9rem;
          border: 1px solid $border-bottom-grey;
          background-color: $light;
          // padding: .5rem .5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 2.5rem;
          height: 1.6rem;
          margin-right: .5rem;
          margin-left: .5rem;
        }
      }
      .prev, .next {
        cursor: pointer;
        border: 1px solid $border-bottom-grey;
        border-radius: 4px;
        background: $light;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;

        &.active {
          img {
            filter: grayscale(0);
            opacity: 1;
          }
        }

        img {
          width: 0.375rem;
          filter: grayscale(0);
          opacity: 0.5;
        }
      }
    }
  }

  .sort-dropdown {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px rgba(151, 151, 151, 0.2);
    display: flex;
    align-items: center;

    &.dropdown-primary {
      border-width: .09375rem;

      &:hover {
        .dropdown-wrapper {
          .dropdown-options {
            &::before {
              left: 10%;
            }
          }
        }
      }
    }

    &.more-actions {
      border: 0;

      &:hover {
        .dropdown-wrapper {
          left: auto;
          right: -2rem;

          .dropdown-options {
            right: -2rem;

            &::before {
              left: auto;
              right: 1.5rem;
            }
          }
        }
      }
    }

    .dropdown-wrapper {
      display: none;
      background: none;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      padding-top: 0.8rem;
      min-width: 200px;

      &.dropdown-wrapper-card {
        min-width: 20rem;

        .dropdown-options {
          min-width: 20rem;
          padding: 1.5rem 1rem 2rem 1rem;

          div {
            label {
              display: block;
              margin-bottom: .5rem;
              font-size: .875rem;
            }

            .form-input-select {
              width: 100%;
              height: 2.8rem;
              padding: 0 1rem;
              font-size: 1rem;
              letter-spacing: 0.21px;
              border-radius: .25rem;
              border: solid 1px $border-grey;
              background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
              appearance: none;
              -webkit-appearance: none;
              -moz-appearance: none;
              background: $light-grey url('./../../static/svg/ic-arrow-drop-down.svg') no-repeat right 1rem center;
              transition: 0s;
            }
          }
        }
      }

      .dropdown-options {
        display: none;
        background: $light;
        z-index: 6;
        width: 100%;
        position: absolute;
        top: 105%;
        left: 0;
        //border: 1px solid $border-grey;
        border-radius: .25rem;
        box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.12);

        span {
          // padding: 1rem;
          padding: .7rem;
          display: block;
          font-size: 0.8rem;
          text-transform: capitalize;
          cursor: pointer;

          &:hover {
            color: $primary;
          }
        }
      }
    }

    &:hover {
      .dropdown-wrapper {
        display: block;

        .dropdown-options {
          display: block;

          &:before {
            position: absolute;
            top: -15%;
            left: 45%;
            width: 1rem;
            content: '';
            height: 15%;
            z-index: 5;
            border-left: 0.6rem solid transparent;
            border-right: 0.6rem solid transparent;
            border-bottom: 0.6rem solid $light;
          }
        }
      }
    }
  }

  .table {
    border-radius: 4px;
    box-shadow: inset 0 -1px 0 0 $border-bottom-grey;
    border: solid 1px $border-grey;
    background: $light;
    margin-top: 1rem;
    // min-height: 13.5rem;
    min-height: 8.5rem;
    margin-bottom: 2%;
    margin-right: 1.5rem;

    @include for-desktop-up {
      margin-right: 0;
    }

    &.loading {
      box-shadow: none;
      border: none;
      background: none;
    }

    .th {
      border-bottom: 1px solid $border-bottom-grey;
      .cell {
        font-weight: 500;
        text-transform: capitalize;
        color: $bluish-grey;

        &.weight {
          text-transform: none;
        }
      }
    }

    .th, .tr {
      display: grid;
      grid-template-columns: 3rem repeat(6, 1fr) 5rem;
      grid-column-gap: 2rem;

      &.small-gap {
        grid-column-gap: 1rem;
      }

      .cell {
        text-align: left;
        padding: 0.85rem 0.1rem;
        font-size: 0.85rem;
        color: $bluish-grey;

        &.overflow {
          white-space: nowrap;
          overflow: hidden;
        }

        &.mw14 {
          max-width: 14rem;
        }

        &.ellipsis {
          text-overflow: ellipsis;
        }

        &.check-cell {
          padding: 0.85rem 1rem;
          input[type="checkbox"] {
            position: relative;
            visibility: hidden;

            &:before {
              visibility: visible;
              content: '';
              position: absolute;
              left: -3px;
              top: -1px;
              width: 16px;
              height: 16px;
              border-radius: 4px;
              background: #f2f4f7;
              border: 1px solid rgba(0, 0, 0, 0.1);
            }

            &:checked {
              &:before {
                content: "\2713";
                background:  #33cccd;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: .8rem;
              }
            }
          }
        }

        &.actions {
          display: flex;
          align-items: center;
          // justify-content: flex-start;
          justify-content: center;
          position: relative;
          width: 100%;
          img.more {
            width: 1rem;
            opacity: 0;
          }

          .options {
            display: none;
            background: $light;
            z-index: 5;
            width: 8rem;
            position: absolute;
            top: 85%;
            right: 0;
            border: 1px $light-grey solid;

            span {
              padding: 0.8rem 1rem;
              display: block;
              text-transform: capitalize;
              cursor: pointer;

              &:hover {
                background: #fff6f6;
              }
            }
          }

          &:hover {
            .options {
              display: block;

              &:before {
                position: absolute;
                top: -10%;
                // left: 35%;
                left: 60%;
                width: 0;
                content: '';
                height: 0;
                z-index: 6;
                border-left: 0.8rem solid transparent;
                border-right: 0.8rem solid transparent;
                border-bottom: 0.8rem solid $light;
              }
            }
          }
        }
      }
    }

    .tr {
      align-items: center;

      &:nth-child(even) {
        background: $grey;

        &:hover {
          background: $light;
          cursor: pointer;

          .cell.actions {
            img.more {
              opacity: 0.6;
            }
          }
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid $border-bottom-grey;
      }
      &:hover {
        background: $grey;
        cursor: pointer;

        .cell.actions {
          img.more {
            opacity: 0.6;
          }
        }
      }
      &.sub-pagination {
        background: $light;
        color: $light-grey-text;
        cursor: default;

        span {
          text-align: center;
          font-size: 0.875rem;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
        }
      }

      .actions {
        // color: $primary;

        .action {
          position: relative;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;

          &:before {
            position: absolute;
            content: ' ';
            background: $primary;
            height: 1px;
            width: 100%;
            bottom: -3.5px;
            left: 0;
          }
        }
      }
    }

    &.admin-roles {
      .th {
        background: #f0f0f0;
        .cell {
          color: #060606;
          font-weight: 500;
        }
      }
    }
  }

  .label {
    border: 2px solid $border-bottom-grey;
    border-radius: 6.25rem;
    text-transform: capitalize;
    padding: .1rem .4rem;
    background-color: $border-bottom-grey;

    font-size: 0.813rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: $darker-grey-text;

    display: inline-block;
    width: 5.8rem;

    &.bigger {
      width: 6rem;
      font-size: 1rem;
      padding: .3rem .6rem;
      font-weight: 500;
    }

    &.completed {
      background-color: $green;
      border: 2px solid $green;
      color: $light;
    }
    &.paid {
      background-color: $green;
      border: 2px solid $green;
      color: $light;
    }
    &.unpaid {
      background-color: $red;
      border: 2px solid $red;
      color: $light;
    }
    &.info, &.error, &.unverified {
      background-color: $success-yellow;
      border: 2px solid $success-yellow;
      color: $dark;
    }
  }
}

.data-table-wrapper {
  .data-table {
    min-width: 600px;

    .table {
      border: none;
    }

    .footer-content {
      background: none;
    }
  }
}

.dropdown-form {
  position: relative;

  .dropdown-options-wrapper {
    position: absolute;
    top: 105%;
    left: 0;
    background: $light;
    padding: 0;
    height: 12rem;
    overflow: scroll;
    // height: fit-content;
    display: block;
    width: 100%;
    z-index: 2;
    border-top: 1px solid $lighter-grey;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 3px 5px -2px rgba(0, 0, 0, 0.2);

    .loading {
      display: flex;
      justify-content: center;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
      align-items: center;
      background: $light;
    }

    .an-option {
      display: flex;
      justify-content: space-between;
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;
      padding-bottom: 2%;
      align-items: center;
      background: $light;

      &:hover {
        background: $border-grey;
      }

      &.is-active {
        background: $border-grey;
      }
    }
  }
}
