.tabs {
  .tabs-menu, .tabs-content{
    width: 100%;
    padding: .8rem .4rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid $border-bottom-grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;

    li {
      padding: 0 .8rem;
      height: 2.5rem;

      a {
        padding: .5rem 1rem;
      }

      div {
        margin-top: .75rem;
        padding-top: .75rem;
        transition: 0s;
      }

      &.is-active {
        div {
          border-top: .25rem solid $primary;
          border-radius: .25rem;
        }
      }
    }
  }

  // tabs-vertical
  &.tabs-vertical {
    display: flex;
    width: 100%;
    min-height: 100vh;
    border-radius: 3px;

    .tabs-menu, .tabs-content{
      min-height: 100vh;
      overflow: auto;
    }

    .tabs-menu {
      padding: 0;
      min-width: 14.375rem;
      max-width: 14.375rem;

      ul {
        min-width: 14.375rem;
        max-width: 14.375rem;
        min-height: 100vh;
        height: 100%;
        border-right: 1px solid $border-grey;
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;

        li {
          display: flex;
          width: 100%;
          height: 3.2rem;
          padding: 0;

          a {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-start;
            align-items: center;
            padding: 0 1.4rem;
            color: $dark-grey-text;
          }

          div {
            display: none;
          }

          &.is-active {
            a {
              background-color: rgba(51, 204, 205, 0.13);
              color: $primary;
            }
          }
        }
      }
    }

    .tabs-content {
      width: 100%;
      padding: 1.4rem;
    }
  }

  &.right-offset {
    .tabs-content {
      .tab {
        @include for-tablet-landscape-up {
          width: 70%;
        }
      }
    }
  }
}