.nav-wrapper {
  // Outer Nav Styling
  &.outer {
    position: fixed;
    width: 100%;
    height: 3.5rem;
    background: $light;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.563rem 4.125rem 0.5rem 2.813rem;

    img {
      // height: 2.438rem;
      height: 1.875rem;
    }
  }

  // Inner Nav Styling
  &.inner {
    position: fixed;
    min-width: max-content;
    width: 100%;
    height: 3.5rem;
    background: $light;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0 1px $border-grey;
    padding: 1rem;

    .nav-left {
      display: flex;
      flex-direction: row;
    }

    .sidebar-toggle {
      font-size: 1.5rem;
      font-weight: 600;
      margin-right: 1rem;
      cursor: pointer;

      @include for-tablet-landscape-up {
        display: none;
      }
    }

    .title {
      font-size: 1.5rem;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $bluish-grey;
      display: none;

      .data-count {
        margin-left: 1rem;
        // color: $red;
        color: $dark;
      }

      @include for-tablet-portrait-up {
        display: block;
      }
    }

    // .links {
    //   display: flex;
    //   justify-content: space-between;
    //   align-items: center;

    //   .link {
    //     display: inline-block;
    //     margin: 0 2.219rem 0 0;
    //     font-size: 1rem;
    //     color: $dark-grey-text;
    //     position: relative;

    //     &:hover {
    //       color: $primary;
    //       &:after {
    //         position: absolute;
    //         content: " ";
    //         background: $primary;
    //         height: 2px;
    //         width: 100%;
    //         bottom: 0;
    //         left: 0;
    //       }
    //     }

    //     &.active {
    //       color: $primary;

    //       &:after {
    //         position: absolute;
    //         content: " ";
    //         background: $primary;
    //         height: 2px;
    //         width: 100%;
    //         bottom: 0;
    //         left: 0;
    //       }
    //     }
    //   }
    // }

    .widget-links {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wallet-widget {
        margin-right: 2.375rem;
        display: flex;
        align-items: center;
        background: $grey;
        // width: 7.375rem;
        width: fit-content;
        height: 2.188rem;
        border-radius: 1.094rem;
        box-shadow: 0 0 0 1px $border-grey;
        justify-content: space-between;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;

        .wallet-value-wrapper {
          display: flex;
          justify-content: center;

          img {
            margin-right: 0.5rem;
          }

          .wallet-value {
            font-size: 1.063rem;
            color: $dark;
            margin-right: 0.5rem;
          }
        }

        .info-icon {
          cursor: pointer;
        }
      }

      .notification-widget {
        margin-right: 2.375rem;
        display: flex;
        align-items: center;
        background: $grey;
        width: fit-content;
        height: 2.188rem;
        border-radius: 1.094rem;
        box-shadow: 0 0 0 1px $border-grey;
        justify-content: space-between;
        padding: 0.5rem 1rem 0.5rem 1rem;
        cursor: pointer;
        position: relative;

        img.notif-icon, img.notif-icon-not-empty {
          cursor: pointer;
        }

        span.dropdown-menu-icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &.notifactive {
          &:before {
            position: absolute;
            top: 0;
            height: 0;
            width: 0;
            right: -60%;
            border: 3.3rem solid transparent;
            border-bottom-color: $light;
            content: "";
          }
        }

        .dropdown {
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 4rem;
          right: -10rem;
          width: 22.813rem;
          transform: translateX(-2em);
          z-index: -1;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

          padding: 1rem;
          background: $light;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);

          .each-notif {
            display: none;
          }

          &.notif {
            visibility: visible;
            opacity: 1;
            z-index: 3;
            transform: translateX(0%);
            transition-delay: 0s, 0s, 0.3s;

            .each-notif {
              display: block;
              padding: .5rem;
              box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.21);

              &:hover {
                background-color: $border-grey;
              }
              .notif-head {
                .notif-label {
                  background: $red;
                  color: $light;
                  border: 1px solid $border-grey;
                  border-radius: 8px;
                  padding: 0 .5rem;
                }
                .notif-heading {
                  color: $dark;
                  margin-left: .3rem;
                  text-decoration: underline;
                }
              }
              .notif-body {
                font-size: .6rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0.3px;
                color: $dark-grey-text;
                margin-top: .5rem;
              }
            }
          }
        }
      }

      .other-widget {
        position: relative;
        margin-left: .6rem;

        &:hover {
          cursor: pointer;

          .dropdown {
            // display: block;
            // position: absolute;
            // top: 80%;
            // right: 0;
            // width: 8rem;
            // z-index: 3;
            // padding: .5rem;
            // background: $light;
            // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
            visibility: visible;
            opacity: 1;
            z-index: 3;
            // top: 164%;
            transform: translateX(0%);
            transition-delay: 0s, 0s, 0.3s;
            padding: .5rem;
            background: $light;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);

            span {
              display: block;
              font-size: 0.688rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.16px;
              padding: 10% 5%;

              &:hover {
                background-color: $border-grey;
              }
            }
          }
        }

        span.dropdown-menu-icon {
          img.icon {}
        }

        .dropdown {
          // display: none;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 80%;
          right: 0;
          width: 8rem;
          transform: translateX(-2em);
          z-index: -1;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

          span {
            display: none;
          }
        }
      }

      .profile-widget {
        display: flex;
        align-items: center;
        background: $grey;
        // width: 5.438rem;
        height: 2.188rem;
        // padding: 0.5rem 0.5rem 0.5rem 0.188rem;
        padding: 1rem 0.5rem 1rem 0.188rem;
        border-radius: 1.094rem;
        box-shadow: 0 0 0 1px $border-grey;
        justify-content: flex-start;
        position: relative;

        img.profile-icon {
          width: 1.875rem;
          height: 1.875rem;
          margin-right: 0.375rem;
          border-radius: 50%;
          background-color: $primary-light;
        }

        span.profile-name {
          font-size: 0.875rem;
          // width: 2.5rem;
          width: 3.5rem;
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          overflow: hidden;
          // resize: horizontal;
        }

        .dropdown {
          // display: none;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          // top: 92.5%;
          top: 100%;
          right: 0;
          width: 8rem;
          color: $dark;
          transform: translateX(-2em);
          z-index: -1;
          transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;

          span {
            display: none;
          }
        }

        &:hover {
          cursor: pointer;

          .dropdown {
            // display: block;
            // position: absolute;
            // top: 80%;
            // right: 0;
            // width: 8rem;
            // z-index: 3;
            // padding: .5rem;
            // background: $light;
            // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);
            visibility: visible;
            opacity: 1;
            z-index: 3;
            transform: translateX(0%);
            transition-delay: 0s, 0s, 0.3s;
            // padding: .5rem;
            background: $light;
            color: $dark;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.21);

            span {
              display: block;
              font-size: 0.688rem;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.16px;
              padding: 10% 5%;

              &:hover {
                background-color: $border-grey;
              }
            }
          }
        }
      }
    }
  }
}